<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CS 531 WebServer Tester</title>
  </head>
  <body>
    <h1>CS 531 WebServer Tester</h1>
    <section>
      <h2>Deploy a Server</h2>
      <form action="/server" method="post">
        <input type="text" name="student" value="" placeholder="Enter CS-ID">
        <input type="submit" value="Deploy Server">
      </form>
    </section>
    <section>
      <h2>Test a Server</h2>
      <input type="text" name="hostport" value="">
      <button type="button" name="button">Run Tests</button>
    </section>
  </body>
</html>
